@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
	font-weight: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
	font-weight: bold;
}

body {
	width: 100%;
 	font-family: "PT Sans", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 24px;
  	color: #000000;
  	text-transform: uppercase;
}

button {
	text-transform: uppercase;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 768px;
	background-color: #ffffff;
  	box-shadow: 0 0 40px 2px #dbdbdb;
}

a {
	text-decoration: none;
}
/*
:focus {
	outline: 0;
	border-radius: 5px;
	box-shadow: 0 0 0 1px white,
				0 0 3px 3px #81b3d2;	
}
*/

fieldset {
	border: none;
}

.site-navigation,
.reason-features-list,
.reasons-list,
.navigation-footer,
.navigation-search,
.arrows,
.rate-stars {
	list-style: none;
}

.navigation-item a {
	color: #000;
	font-weight: bold;

	-webkit-transition: color .2s ease-in-out;
	   -moz-transition: color .2s ease-in-out;
		 -o-transition: color .2s ease-in-out;
			transition: color .2s ease-in-out;
}

.navigation-item a:hover {
	color: #766357;
}

.main,
.promo-background,
.main-footer {
	width: 100%;
}
.promo-background,
.promo-title,
.container-features-item,
.reason-features-list,
.reasons-list-footer,
.container-reserve{
	text-align: center;
}

.promo-background {
	padding: 75px 0;
	position: relative;
	background: #2a404e url(../img/sedona-bg.jpg) no-repeat;
	background-position: right -55px;
}

.promo-background::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 57px;
	background: url('../img/sedona-bg-bottom.png') no-repeat;
	background-position: center bottom;
	background-size: contain;
}

.reasons-list {
	padding: 0;
}

.promo-title h1,
.reasons-list-footer h2,
input[type="submit"],
.btn-open-search,
.found-search{
	font-size: 21px;
	font-weight: bold;
}

.container-features-item {
	background: #81b3d2;
	padding: 45px 0 60px;
}

.container-features-item h2,
.container-features-item span,
.container-features-item p,
.btn-open-search,
input[type="submit"],
.form-title,
.filters label,
.btn-form,
.container-amenities a {
	color: #fff;
}

.container-features-item h2,
.reason-features-list h2,
.container-reserve b,
.form-title {
	font-weight: bold;
}

.container-features-item h2,
.reason-features-list h2 {
	font-size: 21px;
}

.container-reserve b {
	font-size: 30px;
}

input[type="submit"],
.btn-open-search {
	text-transform: uppercase;
}

.btn-open-search,
.btn-search  {
	border: none;
}


.btn-open-search {
	background-color: #766357;
	padding: 35px 135px;
}

.btn-open-search:focus,
.btn-search {
	background-color: #81b3d2; 
}

.btn-open-search:focus {
	outline: none;
}

.btn-search {
	padding: 15px 195px;
}

.btn-search:hover,
.container-button-blue:hover,
.container-button-brown:hover,
.social-button:hover {
	opacity: .9;
}

.navigation-footer li{
	margin-right: 5px;
}

.navigation-footer li:last-child {
	margin-right: 0;
}

.social-button {
	display: inline-block;
	width: 45px;
	height: 45px;
	background-color: #81b3d2;
	text-align: center;
}

/***HOTELS***/

.filters,
.search,
.container-amenities,
.main-footer {
	padding: 30px 70px;
}

.filters{
	background-image: url(../img/filter-bg.jpg);
	background-repeat: no-repeat;
}

.btn-form {
	padding: 10px 35px;
	background-color: inherit;
	border: 2px solid white;
}

.btn-form:hover {
	background-color: rgba(0, 0, 0, .25);
	border-color: rgba(0, 0, 0, .25);
}

.form-title {
	font-size: 16px;
}

.search,
.container-amenities {
	border-bottom: 2px solid #e5e5e5;
}

.search p,
.navigation-search a {
	font-size: 12px;
}

.navigation-search a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.navigation-search a:hover,
.navigation-search .active-item {
	border-bottom: none;
	color: #81b3d2;
}

.container-amenities {
	margin: 0;
}

.container-button-blue,
.container-button-brown {
	display: inline-block;
	font-weight: bold;
	padding: 2px 0;
}

.container-button-blue,
.container-button-brown,
.raiting {
	text-align: center;
}

.container-button-brown,	
.container-button-blue {
	padding: 4px 15px;
}

.container-button-blue {
	background: #81b3d2;
}

.container-button-brown {
	background: #766357;
}

.raiting {
	padding: 2px 15px;
	color: #666;
	background: #f2f2f2;
}





	
